[Unit]
Description=findCircle

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/ubuntu/2022CoprocessorVision/findCircle.py -release
Restart=on-failure
RestartSec=10
KillMode=process
User=ubuntu

[Install]
WantedBy=multi-user.target
